body {
  background-color: black;
  color: white;
  letter-spacing: normal;
}

.pure-g {
  width: 35%;
  margin: auto;
  text-align: center;
}

.pure-u-sm-1 {
  width: 90%;
  margin: auto;
  text-align: center;
}

h1, h2, h3, h4, p {
  letter-spacing: normal;
}

.venmo img, .paypal img {
  width: 200px;
  padding-bottom: 12px;
  padding-top: 12px;
}

img {
  width: 100%;
}

.stripe {
  padding-top: 24px;
}

button:hover {
  cursor: pointer;
}
