@media (max-width: 799px) {
  .container {
    width: 95%;
  }
  .banner {
    width: 100%;
    margin: auto;
  }
}
@media (min-width: 800px) {
  .container {
    width: 80%;
  }
  .banner {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 40%;
  }
  .banner {
    width: 40%;
    margin: auto;
  }
}

body {
  background-color: black;
  color: white;
  letter-spacing: normal;
}

.venmo, .paypal {
  width: 240px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: auto;
}

.container {
  margin: auto;
  text-align: center;
  font-size: 18px;
}

h1, h2, h3, h4, p {
  letter-spacing: normal;
}

.stripe {
  padding-top: 24px;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
}

.small {
  font-size: 14px;
}

a {
  color: yellow;
}

.cc-logo {
  width: 72px;
}
